/*

    Joseph Espana Portfolio CSS v2
    http://josephespana.com

*/

/*---
General Styles (Non-Classes)
---*/
html, body, header, nav, section, article, h1, h2, h3, h4, h5, ul, li, a {
	margin: 0;
	padding: 0;
}
html, article, div, section, header, footer, main {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
	color: #666;
}
a {
	text-decoration: none;
	color: #4E84C1;
}
a:hover {
	color: #e6e65a;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Domine', serif;
	line-height: 1.25;
}
img {
	width: 100%;
}
p {
	font-family: 'Monda', 'Helvetica', Arial, sans-serif;
	line-height: 1.45;
}

/*---
General Styles
---*/
.underline {
	text-decoration: underline;
}
.block {
	display: block;
}
.fixed {
	position: fixed;
}
.hide {
	display: none;
}
.invis {
	visibility: hidden;
}
.shadow {
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
.clear {
	clear: both;
	float: none;
}
.inline {
	display: inline;
}
.inl-blk {
	display: inline-block;
}
.left {
	float: left;
}
.right {
	float: right;
}
.absolute {
	position: absolute;
}
.relative {
	position: relative;
}

/*---
Border Styles
---*/
.rd {
	border-radius: .25rem;
	overflow: hidden;
}
.b1 {
	border: 1px solid #fff;
}
.b1-top {
	border-top: 1px solid #fff;
}
.b1-bot {
	border-bottom: 1px solid #fff;
}

/*---
Color Styles
---*/
.bg-navy {
	background: rgba(0,31,63,1);
}
.bg-olive {
	background: rgba(61,153,112,1);
}
.bg-red {
	background: rgba(245, 87, 78, 1);
}
.bg-lt-gray {
	background: #f8f8f8;
}
.bg-gray {
	background: #f1f1f1;
}
.bg-dk-gray {
	background: #333;
}
.bg-white {
	background: rgba(255,255,255,1);
}
.bg-white-op {
	background: rgba(255,255,255,.8);
}
.bg-lt-blue {
	background: rgba(78,132,193,1);
}
.bg-blue {
	background: rgba(52,93,168,1);
}
.bg-dk-blue {
	background-color: rgba(0,115,207,1);
}
.bg-black-op {
	background-color: rgba(0,0,0,.25);
}
.white {
	color: #fff;
}
.black {
	color: #333;
}
.blue {
	color: #4E84C1;
}
.yellow {
	color: #e6e65a;
}
a:hover .ylw-hov{
	color: rgba(230,230,90,1);
}
.show-invis:hover .invis {
	visibility: visible;
}
.bg-img {
	will-change: transform;
}

/*---
Hover Styles
---*/
.hov-show-con:hover .hov-show {
	opacity: 1;
}
.hov-show{
	opacity: 0;
}
.hov-show:hover {
	opacity: 1;
}
.hov-lighter:hover {
	opacity: .85;
}

/*---
Typography Styles
---*/
.normal {
	font-weight: normal;
}
.serif {
	font-family: 'Domine', Georgia, serif;
}
.sans {
	font-family: 'Monda', 'Helvetica', Arial, sans-serif;
}
.center {
	text-align: center;
}

/*---
Padding Styles
---*/
.p025 {
	padding: .25rem;
}
.p05 {
	padding: .5rem;
}
.p1 {
	padding: 1rem;
}
.p15 {
	padding: 1.5rem;
}
.p2 {
	padding: 2rem;
}
.p0-top {
	padding-top: 0;
}
.p025-top {
	padding-top: .25rem;
}
.p05-top {
	padding-top: .5rem;
}
.p1-top {
	padding-top: 1rem;
}
.p125-top {
	padding-top: 1.25rem;
}
.p15-top {
	padding-top: 1.5rem;
}
.p2-top {
	padding-top: 2rem;
}
.p0-bot {
	padding-bottom: 0;
}
.p05-bot {
	padding-bottom: .5rem;
}
.p1-bot {
	padding-bottom: 1rem;
}
.p15-bot {
	padding-bottom: 1.5rem;
}
.p2-bot {
	padding-bottom: 2rem;
}
.p5-bot {
	padding-bottom: 5rem;
}
.p05-sides {
	padding-left: .5rem;
	padding-right: .5rem;
}
.p1-sides {
	padding-left: 1rem;
	padding-right: 1rem;
}
.p15-sides {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}
.p2-sides {
	padding-left: 2rem;
	padding-right: 2rem;
}

/*---
Margin Styles
---*/
.m-05-top {
	margin-top: -.5rem;
}
.m-5-top {
	margin-top: -5rem;
}
.m0-top {
	margin-top: 0;
}
.m025-top {
	margin-top: .25rem;
}
.m05-top {
	margin-top: .5rem;
}
.m075-top {
	margin-top: .75rem;
}
.m1-top {
	margin-top: 1rem;
}
.m2-top {
	margin-top: 2rem;
}
.m3-top {
	margin-top: 3rem;
}
.m4-top {
	margin-top: 4rem;
}
.m5-top {
	margin-top: 5rem;
}
.m0-bot {
	margin-bottom: 0;
}
.m025-bot {
	margin-bottom: .25rem;
}
.m05-bot {
	margin-bottom: .5rem;
}
.m1-bot {
	margin-bottom: 1rem;
}
.m2-bot {
	margin-bottom: 2rem;
}
.m8-bot {
	margin-bottom: 8rem;
}
.m0-right {
	margin-right: 0;
}
.m1-right {
	margin-right: 1rem;
}
.m15-right {
	margin-right: 1.5rem;
}
.m2-right {
	margin-right: 2rem;
}
.m025-left {
	margin-left: .25rem;
}
.m05-left {
	margin-left: .5rem;
}
.m0 {
	margin: 0;
}
.m05 {
	margin: .5rem;
}

/*---
Max Width Styles
---*/
.mw1 {
  max-width: 1rem;
}
.mw2 {
  max-width: 2rem;
}
.mw3 {
  max-width: 4rem;
}
.mw4 {
  max-width: 8rem;
}
.mw5 {
  max-width: 16rem;
}
.mw6 {
  max-width: 32rem;
}
.mw7 {
  max-width: 48rem;
}
.mw8 {
  max-width: 64rem;
}
.mw9 {
  max-width: 96rem;
}
.mw10 {
  max-width: 128rem;
}

/*---
Max Height Styles
---*/
.mh15 {
	max-height: 1.5rem;
}

/*---
Min Height Styles
---*/
.mih30vh {
	min-height: 30vh;
}
.mih40vh {
	min-height: 40vh;
}
.mih50vh {
	min-height: 50vh;
}
.mih70vh {
	min-height: 70vh;
}
.mih80vh {
	min-height: 80vh;
}

/*---
Responsive Styles
---*/
@media screen and (min-width: 48em) {
	.wi50-s {
		width: 50%;
	}
	.p1-s {
		padding: 1rem;
	}
	.p15-s {
		padding: 1.5rem;
	}
	.p2-s {
		padding: 2rem;
	}
	.p2-le-s {
		padding-left: 2rem;
	}
	.p2-ri-s {
		padding-right: 2rem;
	}
	.p0-top-s {
		padding-top: 0;
	}
	.p1-top-s {
		padding-top: 1rem;
	}
	.p15-top-s {
		padding-top: 1.5rem;
	}
	.p20-bot-s {
		padding-bottom: 20rem;
	}
	.p3-s {
		padding: 3rem;
	}
	.p15-sides-s {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}
	.m4-s {
		margin: 4rem;
	}
	.m05-top-s {
		margin-top: .5rem;
	}
	.m1-top-s {
		margin-top: 1rem;
	}
	.m1-bot-s {
		margin-bottom: 1rem;
	}
	.m2-bot-s {
		margin-bottom: 2rem;
	}
	.m5-bot-s {
		margin-bottom: 2rem;
	}
	.m15-right-s {
		margin-right: 1.5rem;
	}
	.show-s {
		display: block;
	}
	.vis-s {
		visibility: visible;
	}
	.left-s {
		float: left;
	}
	.right-s {
		float: right;
	}
	.mih15-s {
		min-height: 15rem;
	}
	.sq5-s {
		width: 5rem;
		height: 5rem;
	}
}
@media screen and (min-width: 48em) and (max-width: 64em) {
	.wi50-m {
		width: 50%;
	}
	.p2-m {
		padding: 2rem;
	}
	.p3-m {
		padding: 3rem;
	}
}
@media screen and (min-width: 64em) {
	.wi50-l {
		width: 50%;
	}
	.wi33-l {
		width: 33%;
	}
	.p2-l {
		padding: 2rem;
	}
	.p3-l {
		padding: 3rem;
	}
	.p1-top-l {
		padding-top: 1rem;
	}
	.p2-top-l {
		padding-top: 2rem;
	}
	.p20-bot-l {
		padding-bottom: 20rem;
	}
}
@media screen and (min-width: 96em) {
	.wi50-xl {
		width: 50%;
	}
	.wi25-xl {
		width: 25%;
	}
}
