/*

    Joseph Espana Portfolio CSS v2
    http://josephespana.com

*/

/*---
General Styles (Non-Classes)
---*/
html, body, header, nav, section, article, h1, h2, h3, h4, h5, ul, li, a {
	margin: 0;
	padding: 0;
}
html, article, div, section, header, footer, main {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
	color: #666;
}
a {
	text-decoration: none;
	color: #4E84C1;
}
a:hover {
	color: #E6E65A;
}
h1, h2 {
	font-family: 'Bitter', serif;
}
img {
	width: 100%;
}
p {
	line-height: 1.25rem;
}

/*---
General Styles (Classes)
---*/
.rd {
	border-radius: .25rem;
	overflow: hidden;
}
.tag {
	border: 1px solid #333;
	border-radius: .25rem;
	padding: .25rem;
	margin-right: .25rem;
	font-family: Helvetica, Arial, sans-serif;
}
.tag.white {
	border-color: #fff;
}
.overlay {
	position: absolute;
	line-height: 0;
}
.p-top-left {
	top: .5rem;
	left: .5rem;
}
.p-bot-left {
	bottom: 1.25rem;
	left: .5rem;
}
.img {
	position: relative;
	color: #333;
}
.img h1 {
	margin-top: 0;
}
.b1-top {
	border-top: 1px solid #ccc;
}
.b1-bot {
	border-bottom: 1px solid #ccc;
}
.block {
	display: block;
}
.fixed {
	position: fixed;
}
.hide {
	display: none;
}
.invis {
	visibility: hidden;
}
.sq35 {
	width: 35px;
	height: 35px;
}

/*---
Color Styles (Classes)
---*/
.bg-aqua {
	background: #7FDBFF;
}
.bg-olive {
	background: #3D9970;
}
.bg-orange {
	background: #FF851B;
}
.bg-lt-gray {
	background: #f8f8f8;
}
.bg-gray {
	background: #f1f1f1;
}
.bg-white {
	background: #fff;
}
.bg-blue {
	background: rgba(78,132,193,1);
}
.bg-lt-blue {
	background: rgba(123,172,227,1);
}
.bg-blue a:hover {
	background: none;
}
.bg-blue.op {
	background: rgba(78,132,193,.75);
}
.white {
	color: #fff;
}
.black {
	color: #333;
}
.blue {
	color: #4E84C1;
}

/*---
Hover Styles (Classes)
---*/
.hov-show-con:hover .hov-show {
	opacity: 1;
}
.hov-show{
	opacity: 0;
}
.hov-show:hover {
	opacity: 1;
}
.hov-lighter:hover {
	opacity: 0.9;
}

/*---
Typography Styles (Classes)
---*/
.hl {
	background: rgba(255,255,255,.25);
}
.hl.ylw {
	background: rgba(230,230,90,.5);
}
.normal {
	font-weight: normal;
}
.serif {
	font-family: 'Bitter', georgia, serif;
}
.sans {
	font-family: Helvetica, arial, sans-serif;
}
.copy {
	line-height: 1.6;
}
.center {
	text-align: center;
}

/*---
Icon Styles
---*/
.geomicon {
	width: 1.5rem;
	height: 1.5rem;
}
a:hover .geomicon {
	color: rgba(230,230,90,1);
}
header .geomicon {
	position: relative;
	top: 1rem;
}

/*---
Layout Styles = messy will clean later
---*/
.fl {
  float: left;
  display: inline;
}
.p025 {
	padding: .25rem;
}
.p05 {
	padding: .5rem;
}
.p1 {
	padding: 1rem;
}
.p0-top {
	padding-top: 0;
}
.p025-top {
	padding-top: .25rem;
}
.p05-top {
	padding-top: .5rem;
}
.p1-top {
	padding-top: 1rem;
}
.p125-top {
	padding-top: 1.25rem;
}
.p15-top {
	padding-top: 1.5rem;
}
.p2-top {
	padding-top: 2rem;
}
.p05-bot {
	padding-bottom: .5rem;
}
.p1-bot {
	padding-bottom: 1rem;
}
.p15-bot {
	padding-bottom: 1.5rem;
}
.p2-bot {
	padding-bottom: 2rem;
}
.p20-bot {
	padding-bottom: 20rem;
}
.p05-sides {
	padding-left: .5rem;
	padding-right: .5rem;
}
.m0-top {
	margin-top: 0;
}
.m025-top {
	margin-top: .25rem;
}
.m05-top {
	margin-top: .5rem;
}
.m075-top {
	margin-top: .75rem;
}
.m1-top {
	margin-top: 1rem;
}
.m2-top {
	margin-top: 2rem;
}
.m0-bot {
	margin-bottom: 0;
}
.m025-bot {
	margin-bottom: .25rem;
}
.m05-bot {
	margin-bottom: .5rem;
}
.m1-bot {
	margin-bottom: 1rem;
}
.m2-bot {
	margin-bottom: 2rem;
}
.m1-right {
	margin-right: 1rem;
}
.m15-right {
	margin-right: 1.5rem;
}
.m2-right {
	margin-right: 2rem;
}
.w100 {
	width: 100%
}
.m0 {
	margin: 0;
}
.m05 {
	margin: .5rem;
}
.clear {
	clear: both;
	float: none;
}
.inline {
	display: inline;
}
.inl-blk {
	display: inline-block;
}
.left {
	float: left;
}
.right {
	float: right;
}
.mw1 {
  max-width: 1rem; }

.mw2 {
  max-width: 2rem; }

.mw3 {
  max-width: 4rem; }

.mw4 {
  max-width: 8rem; }

.mw5 {
  max-width: 16rem; }

.mw6 {
  max-width: 32rem; }

.mw7 {
  max-width: 48rem; }

.mw8 {
  max-width: 64rem; }

.mw9 {
  max-width: 96rem; }

.mw10 {
  max-width: 128rem; }

/*---
Responsive Styles
---*/
@media screen and (min-width: 48em) {
	.wi50-s {
		width: 50%;
	}
	.p1-le-s {
		padding-left: 1rem;
	}
	.p1-ri-s {
		padding-right: 1rem;
	}
	.p15-s {
		padding: 1.5rem;
	}
	.p2-s {
		padding: 2rem;
	}
	.p2-le-s {
		padding-left: 2rem;
	}
	.p2-ri-s {
		padding-right: 2rem;
	}
	.p1-top-s {
		padding-top: 1rem;
	}
	.p15-top-s {
		padding-top: 1.5rem;
	}
	.m05-top-s {
		margin-top: .5rem;
	}
	.m1-top-s {
		margin-top: 1rem;
	}
	.m2-bot-s {
		margin-bottom: 2rem;
	}
	.m15-right-s {
		margin-right: 1.5rem;
	}
	.show-s {
		display: block;
	}
	.vis-s {
		visibility: visible;
	}
	.left-s {
		float: left;
	}
	.right-s {
		float: right;
	}
}
@media screen and (min-width: 48em) and (max-width: 64em) {
	.wi50-m {
		width: 50%;
	}
}
@media screen and (min-width: 64em) {
	.wi50-l {
		width: 50%;
	}
	.wi33-l {
		width: 33%;
	}
	.p2-l {
		padding: 2rem;
	}
	.p1-top-l {
		padding-top: 1rem;
	}
	.p2-top-l {
		padding-top: 2rem;
	}
}
@media screen and (min-width: 96em) {
	.wi50-xl {
		width: 50%;
	}
	.wi25-xl {
		width: 25%;
	}
}